
.tooltip1{
    content: "";
    visibility: hidden;
    position: absolute;
    top: 96%;
    left: 36%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent  transparent #555 transparent ;
}
.tooltip:hover .tooltip1, .tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
   
}
/*.tooltip1{
	    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    width: 120px;
    top: 101%;
    left: 50%; 
    margin-left: -60px;
}
.tooltip1::before{
    content: "";
    visibility: hidden;
    position: absolute;
   top: 96%;
    left: 36%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent  transparent #555 transparent ;
}
.imgdiv0:hover .tooltip1 {
    visibility: visible;
    opacity: 1;
}
